<%= form_with(model: awsde, local: true) do |form| %>
  <% if awsde.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(awsde.errors.count, "error") %> prohibited this awsde from being saved:</h2>

      <ul>
      <% awsde.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_area :context %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
