<p id="notice"><%= notice %></p>

<h1>Awsdes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @awsdes.each do |awsde| %>
      <tr>
        <td><%= awsde.title %></td>
        <td><%= awsde.context %></td>
        <td><%= link_to 'Show', awsde %></td>
        <td><%= link_to 'Edit', edit_awsde_path(awsde) %></td>
        <td><%= link_to 'Destroy', awsde, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Awsde', new_awsde_path %>
