<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @awsde.title %>
</p>

<p>
  <strong>Context:</strong>
  <%= @awsde.context %>
</p>

<%= link_to 'Edit', edit_awsde_path(@awsde) %> |
<%= link_to 'Back', awsdes_path %>
